---
import ContentBox from '../shared/ContentBox.astro';

const technologies = [
  {
    genre: 'バックエンド',
    items: [
      {
        name: 'Ruby',
        icon: {
          src: '/images/technology_stack/icons/ruby.png',
          width: 50,
          height: 50,
        },
      },
      {
        name: 'Ruby on Rails',
        icon: {
          src: '/images/technology_stack/icons/rails.svg',
          width: 50,
          height: 50,
        },
      },
      {
        name: 'GraphQL',
        icon: {
          src: '/images/technology_stack/icons/graphql.svg',
          width: 50,
          height: 50,
        },
      },
      {
        name: 'Python',
        icon: {
          src: '/images/technology_stack/icons/python.svg',
          width: 50,
          height: 50,
        },
      },
      {
        name: 'FastAPI',
        icon: {
          src: '/images/technology_stack/icons/fastapi.svg',
          width: 50,
          height: 50,
        },
      },
    ],
  },
  {
    genre: 'フロントエンド',
    items: [
      {
        name: 'TypeScript',
        icon: {
          src: '/images/technology_stack/icons/typescript.svg',
          width: 50,
          height: 50,
        },
      },
      {
        name: 'React',
        icon: {
          src: '/images/technology_stack/icons/react.svg',
          width: 50,
          height: 50,
        },
      },
      {
        name: 'Next.js',
        icon: {
          src: '/images/technology_stack/icons/nextjs.png',
          width: 50,
          height: 50,
        },
      },
      {
        name: 'jQuery',
        icon: {
          src: '/images/technology_stack/icons/jquery.png',
          width: 50,
          height: 50,
        },
      },
    ],
  },
  {
    genre: 'インフラ',
    items: [
      {
        name: 'Google Cloud',
        icon: {
          src: '/images/technology_stack/icons/gcp.png',
          width: 50,
          height: 50,
        },
      },
      {
        name: 'Terraform',
        icon: {
          src: '/images/technology_stack/icons/terraform.svg',
          width: 50,
          height: 50,
        },
      },
      {
        name: 'Docker',
        icon: {
          src: '/images/technology_stack/icons/docker.svg',
          width: 50,
          height: 50,
        },
      },
    ],
  },
  {
    genre: '利用サービス',
    items: [
      {
        name: 'SendGrid',
        icon: {
          src: '/images/technology_stack/icons/sendgrid.png',
          width: 50,
          height: 50,
        },
      },
      {
        name: 'Authlete',
        icon: {
          src: '/images/technology_stack/icons/authlete.png',
          width: 50,
          height: 50,
        },
      },
    ],
  },
  {
    genre: 'モバイルアプリ',
    items: [
      {
        name: 'Swift',
        icon: {
          src: '/images/technology_stack/icons/swift.svg',
          width: 50,
          height: 50,
        },
      },
      {
        name: 'Kotlin',
        icon: {
          src: '/images/technology_stack/icons/kotlin.svg',
          width: 44,
          height: 44,
        },
      },
      {
        name: 'Firebase',
        icon: {
          src: '/images/technology_stack/icons/firebase.svg',
          width: 50,
          height: 50,
        },
      },
      {
        name: 'Bitrise',
        icon: {
          src: '/images/technology_stack/icons/bitrise.svg',
          width: 50,
          height: 50,
        },
      },
    ],
  },
  {
    genre: 'AI/LLM',
    items: [
      {
        name: 'Gemini',
        icon: {
          src: '/images/technology_stack/icons/gemini.svg',
          width: 50,
          height: 50,
        },
      },
      {
        name: 'Azure OpenAI',
        icon: {
          src: '/images/technology_stack/icons/aoai.svg',
          width: 50,
          height: 50,
        },
      },
      {
        name: 'LangFuse',
        icon: {
          src: '/images/technology_stack/icons/langfuse.svg',
          width: 50,
          height: 50,
        },
      },
      {
        name: 'Azure AI Search',
        icon: {
          src: '/images/technology_stack/icons/azureaisearch.svg',
          width: 50,
          height: 50,
        },
      },
    ],
  },
  {
    genre: '開発ツール',
    items: [
      {
        name: 'GitHub',
        icon: {
          src: '/images/technology_stack/icons/github.svg',
          width: 50,
          height: 50,
        },
      },
      {
        name: 'GitHub Copilot',
        icon: {
          src: '/images/technology_stack/icons/github-copilot.svg',
          width: 50,
          height: 50,
        },
      },
      {
        name: 'CircleCI',
        icon: {
          src: '/images/technology_stack/icons/circleci.png',
          width: 50,
          height: 50,
        },
      },
      {
        name: 'GitHub Actions',
        icon: {
          src: '/images/technology_stack/icons/github-actions.svg',
          width: 50,
          height: 50,
        },
      },
      {
        name: 'Sentry',
        icon: {
          src: '/images/technology_stack/icons/sentry.svg',
          width: 50,
          height: 50,
        },
      },
      {
        name: 'New Relic',
        icon: {
          src: '/images/technology_stack/icons/newrelic.svg',
          width: 50,
          height: 50,
        },
      },
      {
        name: 'Jira',
        icon: {
          src: '/images/technology_stack/icons/jira.svg',
          width: 50,
          height: 50,
        },
      },
      {
        name: 'Figma',
        icon: {
          src: '/images/technology_stack/icons/figma.svg',
          width: 50,
          height: 50,
        },
      },
      {
        name: 'Cursor',
        icon: {
          src: '/images/technology_stack/icons/cursor.png',
          width: 50,
          height: 50,
        },
      },
      {
        name: 'Devin',
        icon: {
          src: '/images/technology_stack/icons/devin.png',
          width: 50,
          height: 50,
        },
      },
    ],
  },
] as const;
---

<ContentBox heading="技術スタック">
  <ul class="GenreList">
    {
      technologies.map((technology) => (
        <li
          class:list={{
            wide: /^(モバイルアプリ|開発ツール|AI\/LLM)$/.test(
              technology.genre,
            ),
          }}
        >
          <div class="GenreItem">
            <h3 class="GenreTitle">{technology.genre}</h3>

            <ul class="TechnologyList">
              {technology.items.map((item) => (
                <li>
                  <div class="TechnologyItem">
                    <div class="TechnologyImage">
                      <img
                        alt={item.name}
                        height={item.icon.height}
                        src={item.icon.src}
                        width={item.icon.width}
                      />
                    </div>

                    <span>{item.name}</span>
                  </div>
                </li>
              ))}
            </ul>
          </div>
        </li>
      ))
    }
  </ul>
</ContentBox>

<style>
  .GenreList {
    display: flex;
    flex-wrap: wrap;
    margin: calc((var(--space-m) / 2) * -1);
    line-height: 1;

    & > li {
      width: 50%;
      padding: calc(var(--space-m) / 2);
      box-sizing: border-box;

      &.wide {
        width: 100%;
      }
    }

    @media screen and (width <= 679px) {
      display: block;

      & > li {
        width: 100%;
      }
    }
  }
  .GenreItem {
    height: 100%;
    padding: var(--space-s);
    background-color: var(--color-background);
    box-sizing: border-box;

    @media (forced-colors: active) {
      outline: solid 1px ButtonBorder;
    }
  }
  .GenreTitle {
    margin-bottom: var(--space-s);
    font-weight: bold;
  }
  .TechnologyList {
    display: flex;
    flex-wrap: wrap;
    margin: calc(var(--space-xs) * -1);

    & > li {
      padding: var(--space-xs) 0;
    }
  }
  .TechnologyItem {
    font-size: 12px;
    text-align: center;
  }
  .TechnologyImage {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 72px;
    height: 72px;
    margin: 0 var(--space-xs) var(--space-xs);
    border-radius: 16px;
    background-color: #fff;
  }
</style>
